.blog-container{
    h1{
        font-size: 2em;

        &:hover{
            color: blue;
            font-weight: 900;
        }
    }
    .content-loader {
        .load-icon {
            background-color: lime;
            font-size: 2em;
            color: red;
        }
    }
}



