.details-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	background-color: lightslategrey;
	color: lime;
	width: 100vw;

	.name-cat {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.image-wrapper {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
	}
}
